// Page header.scss
header {
    background-color: $secondary-color;
    padding: 10px 15px;
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

.liste-deroulante {

    background-color: $secondary-color;
}

header::before, header::after {
        min-height: 20px;
}

header img {
    padding: 0;
}

header nav .navbar-nav .nav-link {
    color: $black;
    font-size: 18px;
    padding: 0px 18px !important;
}

header .navbar-brand {
    max-width: 100px;
    padding-left: 0;
}

/* Header Search Bar */
.header-search input[type="text"] {
    border: none;
}

.header-search .input-group-addon button {
    color: $white;
    background: $primary-color;
    padding: 10px 15px;
    border: none;
    font-size: 12px;
}

.select-style {
    width: auto;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.select-style select {
    width: 100%;
    background: $header-select-color;
    color: $black;
    height: 38px;
    padding: 0px 9px;
    border: none;
    outline: none;
}

.select-style select option.topshow {
    padding: 10px 0;
    position: relative;
    top: 15px;
}
/* End Header Search Bar */


/* Header cart CSS */
header .cart a {
    color: $white;
    text-decoration: none;
    /*width: 30px;*/
    margin-left: 10px;
}

header .cart a span.badge {
    position: relative;
    color: $header-color;
    font-weight: $weight-bold;
    left: -25px;
    top: -10px;
    font-size: 14px;
}

header .cart a img {
    width: 30px;
    margin-left: 10px;
    padding:0;
    max-width : 50px;
}
/* End Header cart CSS */

/* Header login CSS */
header .login {
    position: absolute;
    right: 90px;
    top: 20px
}

header .login a {
    color: $white;
    text-decoration: none;
}

header .login {
    background-color: transparent;
}

header .login a img {
    padding:0;
    max-width : 50px;
    color: $white;
}
/* End Header cart CSS */

/* Responsive CSS */
@media screen and (max-width: 374px) {
    header .navbar-brand img{
        max-width: 50px;
    }
    header .cart {
        position: absolute;
       /* right: 80px;*/
        top: 30px;
    }  
}

@media screen and (min-width: 375px) and (max-width: 767px) {    
    header .navbar-brand img{
        max-width: 50px;
    }
    header .cart {
        position: absolute;
       /* right: 90px;*/
        top: 40px;
    }  
}

@media screen and (min-width: 768px) and (max-width: 991px) {    
    header .cart {
        position: absolute;
        /*right: 120px;*/
        top: 50px;
    }  
}

@media screen and (min-width: 991px) {    
    header .navbar-brand {
        max-width: 80px;
    }  
    
    
    header .cart a img {
        width: 30px;
        margin-left: 1em;
    }

    header .cart a span.badge {
        position: relative;
        top: -1.5em;
        left: -2em;
        color: $header-color;
        font-weight: $weight-bold;
    }
}