//reset.scss

/* 1. border-box pour tous les elements
* 2. Interdit min-width: auto and min-height: auto sur les enfants flex et grid
*/

*,
*::before,
*::after {
  box-sizing: border-box; /* 1 */
  /*min-width: 0; *//* 2 */
 /* min-height: 0; *//* 2 */
}
*, *::before, *::after {
 box-sizing: inherit;
}

/*
 * 1. Enlève le surlignement gris sur les liens pour iOS 
 * 2. Empêcher les changements d'orientation de police dans iOS 
 * 3. Casse les mots pour éviter les débordements dans tous les navigateurs
 */

 html {
  font-size: $font-size-html;
  -webkit-tap-highlight-color: transparent; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-wrap: break-word; /* 3 */
}


html, body, p, ol, ul, li, figure, textarea, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
	scroll-behavior: smooth;
  font-family: $text-font;
}

/*
 * Titres
 */

 h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/*
 * Liens
 */

a {
  text-decoration: $link-decoration;
}

a:focus,
a:hover,
a:active {
  text-decoration: $link-decoration-hover;
}

/*
* Autres
*/

ul {
  list-style: none;
}

button, input {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

/*Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
